.badge {
  font-size: 11px;
  padding: 2px 8px;
  border-radius: 9999px;
}

/* Dialogo full-screen en móviles */
.dialog-movil {
  .mat-mdc-dialog-container {
    padding: 0; /* quitar paddings del contenedor */
  }
  .mat-mdc-dialog-surface {
    border-radius: 0 !important;
  }
  @media (max-width: 640px) {
    .mat-mdc-dialog-container,
    .mat-mdc-dialog-surface {
      width: 100vw !important;
      max-width: 100vw !important;
      height: 100svh !important;
      max-height: 100svh !important;
    }
  }
}
