.mat-mdc-form-field-error-wrapper {
  padding-top: 2px;
  margin-bottom: -22px;
}

.mat-mdc-button.mat-mdc-button-base,
.mat-mdc-raised-button.mat-mdc-button-base,
.mat-mdc-unelevated-button.mat-mdc-button-base,
.mat-mdc-outlined-button.mat-mdc-button-base {
  --mat-mdc-button-persistent-ripple-duration: 0;
}
